
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/Forum
spring.jpa.hibernate.ddl-auto=none
spring.datasource.username=
spring.datasource.password=

# sql database config

sql.host=                           # your database hostname here
sql.database=                       # your database name here
sql.username=                       # your username here
sql.password=                       # your password here

server.servlet.encoding.charset=UTF-8

# token redis config
token.redis.host=127.0.0.1
token.redis.port=6379
token.redis.db-index=0
token.redis.password=       #your password here

# rate limit redis config
rate.redis.host=127.0.0.1
rate.redis.port=6379
rate.redis.password=  #your password here
rate.redis.db-index=1

# hit rate redis config
hit-rate.redis.host=127.0.0.1
hit-rate.redis.port=6379
hit-rate.redis.password= #your password here
hit-rate.redis.db-index=2
